.title {
  font-weight: bold;
  font-size: 24px;
  color: #fff;
}

.subtitle {
  font-size: 18px;
  color: #dcdcdc;
}

.mb {
  margin-bottom: 0.5rem;
  display: block;
}

.noWrap {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.textCenter {
  text-align: center;
}

.block {
  display: block;
}

.px {
  padding-left: 10px;
  padding-right: 10px;
}
