.layout {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
}

.item-wrapper {
  width: 100%;
}

@media (min-width: 768px) {
  .item-wrapper {
    width: 49%;
  }
}
